body{
    margin:0;
    font-family:system-ui;
}

body.dark{
    background:#111827;
    color:white;
}

body.light{
    background:white;
    color:#111;
}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px;

border-bottom:1px solid #444;

}

.actions{

display:flex;

gap:10px;

}

button{

padding:6px 12px;

cursor:pointer;

font-size:16px;

}

#breadcrumbs{

padding:16px;

}

#content{

padding:16px;

display:flex;

flex-direction:column;

gap:8px;

}

.item{

cursor:pointer;

padding:8px;

}

.item:hover{

text-decoration:underline;

}